In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
# Load the data
df = pd.read_csv('../data/social_media_dataset.csv')

In [24]:
df.head()

,Platform,Hashtag,Content_Type,Impressions,Views,Likes,Shares,Comments,Engagement_Rate
0,TikTok,Music,Video,153973,75655,8760,2385,4208,0.2029
1,TikTok,Beauty,Video,178116,27357,21324,9454,6875,1.3764
2,TikTok,Education,Video,178751,87922,5802,4407,2529,0.1449
3,Twitter,Fitness,Carrousel,166543,88181,16065,4660,649,0.2424
4,Twitter,Gaming,Text,107985,61481,15830,4996,8138,0.4711

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12583 entries, 0 to 12582
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Platform         12583 non-null  object
 1   Hashtag          12583 non-null  object
 2   Content_Type     12583 non-null  object
 3   Impressions      12583 non-null  int64
 4   Views            12583 non-null  int64
 5   Likes            12583 non-null  int64
 6   Shares           12583 non-null  int64
 7   Comments         12583 non-null  int64
 8   Engagement_Rate  12583 non-null  float64
dtypes: float64(1), int64(5), object(3)
memory usage: 884.9+ KB

In [26]:
df.describe()

,Impressions,Views,Likes,Shares,Comments,Engagement_Rate
count,12583.000000,12583.000000,12583.000000,12583.000000,12583.000000,12583.000000
mean,128274.095685,77171.758563,10632.981880,3889.397759,3393.818247,0.283246
std,32127.832895,20425.172227,5163.751657,3517.022937,2520.931922,0.334929
min,4749.000000,1111.000000,109.000000,6.000000,14.000000,0.060000
25%,105286.500000,67758.500000,7154.500000,1380.000000,1310.000000,0.175250
50%,130114.000000,83091.000000,9773.000000,2999.000000,2874.000000,0.217500
75%,155045.000000,92567.000000,12965.000000,5374.500000,5034.000000,0.246200
max,179985.000000,99998.000000,29997.000000,19997.000000,10992.000000,3.399900

This dataset is already clean, without missing values since I got it done myself. We can start the EDA part.